AWS_REGION=us-east-1
BUCKET_NAME=rag-data-serverless-kb
PREFIX=text
VECTOR_BUCKET=knowledge-base-scientists-books
VECTOR_INDEX=vector-index-books
DYNAMODB_TABLE=rag-memory
EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0
CHUNK_SIZE=1000
CHUNK_OVERLAP=200
LLM_MODEL_ID=us.anthropic.claude-3-5-haiku-20241022-v1:0
ENVIRONMENT=dev
