AWS_REGION=us-east-1
S3_BUCKET_NAME=knowledge-base-documents-ai-assistant-001
S3_PREFIX=Books/text/
S3_VECTOR_BUCKET=knowledge-base-scientists-books
S3_VECTOR_INDEX=vector-index-books
EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0
COLLECTION_NAME=rag-index-carl-sagan
ENVIRONMENT=local
